---
---
@use "main.bundle";

.table-wrapper>table thead th,
.table-wrapper>table tbody tr td {
    padding: .4rem 1rem;
    font-size: 95%;
    white-space: normal;
    vertical-align: top;
    
}

.shimmer::before{
    background:none;
 }